.App {
  text-align: center;
}
.table-container {
  width: 100%;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border: 1px solid black;
  padding: 8px;
}

.table-container th {
  text-align: left;
}
